body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #2e2f30; /* Cinza claro */
}

.container {
    background-color: #e9ecef; /* Outra tonalidade de cinza claro para o container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.error {
    color: red;
}

#roomsList li {
    margin-bottom: 10px;
}
